@model AVTMS.Models.VehicleNotes

@{
    ViewData["Title"] = "Note Details";
}

<div class="container mt-4">
    <h1 class="text-primary mb-4">
        <i class="fa fa-sticky-note"></i> Vehicle Note Details
    </h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>Note Content</th>
                        <td>@Html.DisplayFor(model => model.NoteContent)</td>
                    </tr>
                    <tr>
                        <th>Vehicle Number Plate</th>
                        <td>@Html.DisplayFor(model => model.Vehicle.VehicleNumberPlate)</td>
                    </tr>
                    <tr>
                        <th>Vehicle Image</th>
                        <td>
                            @if (!string.IsNullOrEmpty(Model.Vehicle?.ImagePath))
                            {
                                <img src="@Url.Content(Model.Vehicle.ImagePath)" alt="Vehicle Image" class="img-fluid rounded shadow-sm" style="max-height: 200px;" />
                            }
                            else
                            {
                                <span class="text-muted">No image available</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Created By</th>
                        <td>@Html.DisplayFor(model => model.CreatedByID)</td>
                    </tr>
                    <tr>
                        <th>Created On</th>
                        <td>@Html.DisplayFor(model => model.CreatedOn)</td>
                    </tr>
                    <tr>
                        <th>Modified By</th>
                        <td>@Html.DisplayFor(model => model.ModifiedBy)</td>
                    </tr>
                    <tr>
                        <th>Modified On</th>
                        <td>@Html.DisplayFor(model => model.ModifiedOn)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-end">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                <i class="fa fa-edit"></i> Edit
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fa fa-list"></i> Back to List
            </a>
        </div>
    </div>
</div>
