@model AVTMS.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleNumberPlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleNumberPlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleOwner.NIC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
