@model AVTMS.Models.VehicleOwner

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VehicleOwner</h4>
    <hr />
    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.OwnerName)</td>
                <td>@Html.DisplayFor(model => model.OwnerName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.OwnerMobileNumber)</td>
                <td>@Html.DisplayFor(model => model.OwnerMobileNumber)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.OwnerEmail)</td>
                <td>@Html.DisplayFor(model => model.OwnerEmail)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.OwnerAddress)</td>
                <td>@Html.DisplayFor(model => model.OwnerAddress)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CreatedByID)</td>
                <td>@Html.DisplayFor(model => model.CreatedByID)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CreatedOn)</td>
                <td>@Html.DisplayFor(model => model.CreatedOn)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ModifiedBy)</td>
                <td>@Html.DisplayFor(model => model.ModifiedBy)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ModifiedOn)</td>
                <td>@Html.DisplayFor(model => model.ModifiedOn)</td>
            </tr>
        </tbody>
    </table>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NIC" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
