@model IEnumerable<AVTMS.Models.VehicleOwner>

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow-sm mt-3 mb-4">
    <div class="card-body d-flex justify-content-between align-items-center">
        <h1 class="card-title mb-0 text-secondary fw-bold">
            <i class="fa fa-users mr-2" aria-hidden="true"></i>Registered Vehicle Owners 
        </h1>
        <a asp-action="Create" class="btn btn-primary btn-md d-flex align-items-center shadow-sm">
            <i class="fa fa-plus mr-2"></i> Register New Vehicle Owner
        </a>
    </div>
</div>


<div class="card">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OwnerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OwnerMobileNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OwnerEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OwnerAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedByID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    
                    <th>
                        Edit
                    </th>
                    <th>
                        View
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerMobileNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedByID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>


                        <td>
                            <a asp-action="Edit" asp-route-id="@item.NIC" class="btn btn-primary"><i class="fa fa-edit"></i>Edit</a>

                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.NIC" class="btn btn-warning"><i class="fa fa-eye"></i>View</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.NIC" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>